button {
    display: block;
    width:100px;
    height: 30px;
}

.die-div {
    width: 100px;
    height: 100px;
    background-color: blue;
    margin: 20px;
    float:left;
    color: white;
    border-radius: 10px;
    line-height: 100px;
    text-align: center;
    font-size: 36px;
}